<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Administração - Sistema de Cadeiras</title>
</head>
<body>
    <h1>Administração</h1>

    <ul>
        <li><a href="/endereco">Gerenciar Endereços</a></li>
        <li><a href="/categoria">Gerenciar Categorias</a></li>
        <li><a href="/fabricante">Gerenciar Fabricantes</a></li>
        <li><a href="/pessoa">Gerenciar Pessoas</a></li>
        <li><a href="/cliente">Gerenciar Clientes</a></li>
        <li><a href="/funcionario">Gerenciar Funcionários</a></li>
        <li><a href="/cadeira">Gerenciar Cadeiras</a></li>
    </ul>
</body>
</html>
